<!DOCTYPE html>
<html lang="en">
<%- include('./templates/header.ejs')%>

  <body>
    <header>
      <%- include('./templates/navbar.ejs')%>
    </header>
    <main>
      
    </main>
    <footer>
      <%- include('./templates/footer.ejs')%>
    </footer>
  </body>

</html>