<!DOCTYPE html>
<html lang="en">
<%- include('./templates/header.ejs')%>

  <body>
    <header>
      <%- include('./templates/navbar.ejs')%>
    </header>
    <main>
      <section class="Introducción">
        <div class="contenido-centrado">
          <h1>Bienvenido al catalogo en línea de libros</h1>
          <p>El lugar donde la pasión por la lectura cobra vida. Aquí podrás explorar una vasta colección de
            libros de todos los géneros, aquí podrás...</p>

          <p>Descubrir nuevos libros.</p>
          <p>Sumergirte en libros que han dejado huella en la literatura.</p>
          <p>Agregar tus propia colección.</p>
          <p>¡Disfruta de tu viaje!</p>
        </div>
      </section>
    </main>
    <footer>
      <%- include('./templates/footer.ejs')%>
    </footer>
  </body>

</html>